/**
 * VGSR Entity Admin Styles
 *
 * @package VGSR Entity
 * @subpackage Administration
 */

.input-text-wrap input {
	vertical-align: middle;
}

/* wp-admin/post.php */

#vgsr-entity-details .alignleft {
	float: none;
}

	#vgsr-entity-details .alignleft span.title {
		display: inline-block;
		width: 6em;
		font-weight: bold;
		vertical-align: middle;
	}

	/* Feature: Logo */

	#vgsr-entity-details #entity-logo {
		width: calc( 100% - 6.3em ); /* why cannot 6em ? */
		display: inline-block;
		vertical-align: middle;
	}

	#vgsr-entity-details #set-entity-logo {
		display: inline-block;
	}

		#vgsr-entity-details #entity-logo img {
			max-width: 100%;
			height: auto;
			width: auto;
		}

/* wp-admin/edit.php */

.inline-edit-row .entity-quick-edit {
	display: none;
}
